/* variables */
:root{
    /* main colors */
    --primary: #2F4172;
    --secondary-1: #423075;
    --secondary-2: #236267;

    /* shades */
    --primary-light: #4f608f;
    --primary-lighter: #7986ac;
    --secondary-1-dark: #3e3374;
    --secondary-1-light: #625192;
    --secondary-1-lighter: #897baf; 
    --secondary-2-light: #417c81;
    --secondary-2-lighter: #68979b;

    /* store */
    --store: #7cc214;
    --store-light: #97d73a;
    --store-disabled: #b4eb63;

    /* black & white */
    --black: #0e0e0e;
    --black-light: #282828;
    --grey: #d0d0d0;
    --white: #f5f5f5;
   
    /* shadows */
    --shadow: 2px 2px 4px var(--black-light);
    --shadow-subtle: 1px 1px 4px var(--black-light);
    --text-shadow: 1px 1px 4px var(--black-light); 
    /* fonts */
    /* como css no tiene soporte para fuentes en variables,
       dejo aca para copiar y pegar segun la necesidad */
    
    /* paragraph & card title */
    font-family: "Montserrat", Arial, Helvetica, sans-serif; 
    font-weight: medium;
    font-size: 14px;

    /* h1 */
    font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    /* h2 */
    font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;

}

/* HTML elements */
h1,h2{
    color: var(--white);
    text-shadow: var(--text-shadow); 
}

p{
    font-family: Montserrat, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 14px;  
    color: var(--white);
    text-shadow: var(--text-shadow);
}

h1{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h2{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body{
    background-color: var(--primary);
    margin: 0;
    position: relative;
    min-height: 100vh;
}

main{
    padding-bottom: 2.5rem;
    min-height: 1200px ;
}

footer{
    background-color: var(--primary-lighter);
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
}

/* classes */
.row-container{
    margin-left: 35px;
    padding-left: 10px;
}
.wrapper{
    overflow-x: scroll;
    overflow: auto;
    display: flex;
    flex: 1 1 0px;
    flex-flow: row nowrap;
    height: 225px;

    /* el borde es mas para saber las dimensiones del row */
    padding: 0;
    border: 1px solid;
    min-width: 0;
    list-style: none;
}

.row-title{
    padding-top: 20px;
}

.card{
    height: 200px;
    width: 256px;
    margin-right: 42px;
    min-width: 0;

    background-color: var(--secondary-2);
    box-shadow: var(--shadow);

    flex: 1;
    flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 256px;

    list-style: none;
}

.cart-card{
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: var(--store);
    border-radius: 3px;
    box-shadow: var(--shadow-subtle);
    padding-top: 0;
    padding-right: 0;
    padding-left: 2px;
    padding-bottom: 2px;
    border: none;
    cursor: pointer;
}

.cart-card:hover{
    background-color: var(--store-light);
    box-shadow: none;
}

.image{
    height: 116px;
    width: 256px;
    background-color: #0e0e0e;
    padding: 0;
    margin: 0;
}

.game-title{
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 18px;
    margin-top: 12px;
    font-size: 14px;
    text-transform: uppercase
}

.card-bottom-row{
    height: 25px;
    float: right;
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hamburger, .login{
    height: 60px;
    width: 60px;
}

.hamburger:hover, .form-button:hover, .checkout-button:hover, .login:hover, .logo-button:hover, .magnifying-glass:hover, .cart-button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.cart-button{
    height: 45px;
    width: 45px;
    margin-right: 15px;
}
.hamburger{
    padding: 0;
    margin: 0;
    background-color: var(--secondary-1);
    border: none;
}

.logo{
    width: 150px;
    height: 150px;
    text-shadow: var(--shadow-subtle);
    color: var(--black);
    text-decoration: none;
}

.footer-logo{
    height: 100px;
    margin-left: 75px;
    width: 100px;
    margin-top: 20px;
}

.logo:hover {
    color: var(--black-light);
}

.sidebar-image{
    height: 60px;
    width: 60px;
    display: block;
}

.sidebar-text{
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
}

.logo-holder{
    padding: 0;
    margin: 0;
    height: 60px;
    width: 60px;
    text-align: center;
}

.nav-left-container{
    display: flex;
    min-width: 120px;
}

.nav-right-container{
    display: flex;
    min-width: 120px;
    flex-direction: row-reverse;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #625192;
    height: 50px;
    width: 334.15px;

    margin: auto;

    padding: 0;
    border-radius: 30px;
    outline: var(--black) solid 2px;

    box-shadow: var(--shadow-subtle);
}

.empty-space{
    width: 60px;
    margin: 0;
    padding: 0;
}

.magnifying-glass{
    margin-left: auto;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.search-bar-text{
    color: #f5f5f5d5;
    padding-left: 20px;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-light);
    overflow: hidden;
    align-items: center;
}

.sidebar{
    display: none;
    min-height: 1200px;
    background-color: var(--secondary-1);

    padding-right: 20px;
    position: absolute;
    
    
    top: 60px;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    
    align-items: center;
    align-content: center;
    text-align: center;
}

.form-container-login{
    width: 540px;
    height: 700px;
    background-color: var(--primary-lighter);
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: var(--shadow);
    outline: solid var(--black-light);
    text-align: center;
}

.form-container-signup{
    width: 540px;
    height: 800px;
    background-color: var(--primary-lighter);
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: var(--shadow);
    outline: solid var(--black-light);
    text-align: center;
}

.form-title{
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: var(--shadow-subtle);
    font-size: 32px;
    margin-bottom: 0;
}

.form-button-text{
    font-weight: bold;
}

form{
    display: flex;
    flex: 1;
    padding-left: 50px;
    flex-flow: column wrap;
    text-align: left;
    padding-top: 0;
    margin: 0;
}

.form-line{
    outline: solid #0e0e0e;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    opacity: 0.7;
    margin-bottom: 50px;
}

.form-special-login{
    display: block;
    margin: auto;
    padding-bottom: 25px;
    cursor: pointer;
}

.form-special-login:hover{
    opacity: 0.7;
}

.form-special-login-container{
    padding-top: 60px;
}

.input-title{
    display: flex;
    flex: 1;
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
}

.input-box{
    width: 85%;
}

.form-button{
    width: 120px;   
    height: 50px;
    background-color: var(--secondary-1);
    border-radius: 4px;
    margin-top: 50px;
}



.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

/* .logo {
    max-width: 100%;
    height: auto;
} */

.cart-menu{
    display: none;
    width: 500px;
    border: 1px solid var(--black);
    box-shadow: 4px 6px 4px var(--black-light);
    z-index: 4;
    position: absolute;
    top: 60px;
    right:60px;
    background-color: var(--primary-light);
}


.cart-info {
    padding: 0 5px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-lighter);
}

.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-item{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border-top:1px solid var(--black);
    padding: 5px 5px;
    
}

.checkout{
    display: flex;
    align-items: center;
}

.checkout-button{
    margin: 5px;
    text-align: center;
    background-color: var(--store);
    border-radius: 3px;
    box-shadow: var(--shadow-subtle);
    border: none;
    margin-left: 1vw;
}

.cart-game-image{
    display: block;
    width: 135px;
    height: 60px;
}

.cart-game-title{
    flex-grow: 2;
    padding-left: 5px;
}

.visible{
    display: block;
}

.categories{
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
    margin-top: 10px;
    padding-left: 0px;
}

.category{
    display: flex;
    flex-flow: space-between;
    gap: 1vw;
    margin-bottom: 10px;
    cursor: pointer;
}
.category:hover{
    opacity: 0.7;
}

/* IDs */